@model StockPredictor.Models.PredictionResponse


<h2>Stock Prediction for @Model.CompanyName</h2>

<p><strong>Last Closing Price:</strong> @Model.LastClosingPrice.Date - @Model.LastClosingPrice.Price.ToString("C2")</p>

<h3>Predicted Prices for the next 5 days, from the last closing date</h3>
<ul>
    @foreach (var prediction in Model.PredictedPrices)
    {
        <li>@prediction.Date - @prediction.Price.ToString("C2")</li>
    }
</ul>

<p><strong>Recommendation:</strong> <span class="badge @(Model.Recommendation == "Buy" ? "bg-success" : "bg-danger")">@Model.Recommendation</span></p>

<P class="text-info">Predicition done through Machine Learning Models Developed & Trained by me. </P>

<a href="@Url.Action("Index", "Stock")" class="btn btn-secondary mt-3">Back</a>
